<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css"> 
    <title>Aula Dev Web</title>
</head>
<body>
    
    <nav class="main-nav">
        <a href="/" class="nav-item">Início</a>
        <a href="/sobre" class="nav-item">Sobre o Projeto</a>
    </nav>
    
    {{{body}}} 
    
    <script src="/script.js"></script>
</body>