<main>
    <h1>{{titulo}}</h1>

    <div class="btn-container">
        <button id="btnLogar">
            {{#if usuarioLogado}}
                Deslogar
            {{else}}
                Logar
            {{/if}}
        </button>
    </div>

    <div id="logado-msg" class="boas-vindas" style="display: none;">
    <h2>Seja bem-vindo(a), Diogo!</h2> 
    <p>Você está logado e pode ver conteúdo exclusivo.</p>
</div>

<div id="deslogado-msg" class="nao-logado"> 
    <h2>Olá!</h2>
    <p>Faça login para ver seu nome e mais conteúdo.</p>
</div>

    <section class="conteudos-lista">
        <h3>Conteúdos Gerados pelo Controller:</h3>
        
        {{#each conteudos}}
            <article class="item-conteudo">
                <h4>{{this.texto}}</h4>
                <p>ID: {{this.id}}</p>
            </article>
        {{/each}}
    </section>

</main>