<main>
    <h1>{{titulo}}</h1>
    
    <div class="info-box">
        <h3>Desenvolvedor:</h3>
        <p>{{desenvolvedor}}</p>
    </div>
    
    <div class="info-box">
        <h3>Versão do Sistema:</h3>
        <p>{{versao}}</p>
    </div>

    <h2>Nossa Missão</h2>
    <p>{{missao}}</p>
    
    <p>A expansão para 2 páginas prova a modularidade da aplicação.</p>
</main>